html{
	font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}


a:active,
a:hover,
a:link,
a:visited {
	text-decoration: none;
}

li {
	list-style-type: none;
}

@mixin centering {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.clearfix::after {
	content:'';
	display: block;
	clear: both;
}
