html {
  font-size: 90%;
}
.centering {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.underborder {
  position: relative;
}
.underborder::before,
.underborder::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #000;
}
.underborder::after {
  bottom: 5px;
}
.article_title {
  font-size: 4rem;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}
.article_title::before,
.article_title::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #000;
}
.article_title::after {
  bottom: 5px;
}
header {
  width: 100%;
  background: #000;
  padding-top: 150px;
  padding-bottom: 40px;
}
header .button_area,
header .discription,
header .main_title,
header .sub_title {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
header .sub_title {
  font-size: 1.3rem;
  color: #fff;
}
header .sub_title::after,
header .sub_title::before {
  content: '';
  display: inline-block;
  background: #fff;
  margin: 0 30px;
  vertical-align: middle;
  width: 140px;
  height: 2px;
}
header .main_title {
  margin-top: 30px;
  font-size: 1.3rem;
  color: #fff;
}
header .discription {
  color: #fff;
}
header .button_area a {
  display: inline-block;
  height: 55px;
  width: 30%;
  color: #fff;
  text-align: center;
  line-height: 3.5rem;
  border-radius: 2px;
}
header .button_area a:hover {
  opacity: 0.6;
}
header .button_area .learn_mode {
  border: 1px solid #afa58d;
  background: #afa58d;
  margin-right: 10px;
}
header .button_area .send_message {
  margin-left: 10px;
  border: 1px solid #D29E0D;
  background: #D29E0D;
}
.about .text_area p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.works {
  width: 100%;
  background: #383634;
}
.works .link_block {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.works .link_block .single_area {
  display: table-cell;
  position: relative;
}
.works .link_block .single_area .work_image {
  display: block;
  width: 100%;
}
.works .link_block .single_area .work_inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  text-align: center;
  z-index: 1;
}
.works .link_block .single_area .work_inner .text-area {
  width: 100%;
  height: 100%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.works .link_block .single_area .work_inner .text-area p {
  display: table-cell;
  vertical-align: middle;
}
.works .link_block .single_area a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 25%;
  border: 1px solid #fff;
  border-radius: 2px;
}
.works .link_block .single_area::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  background: url('../img/tree.jpg') no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}
.works .link_block .single_area:nth-child(odd) .work_image {
  margin: 0 0 60%;
}
.works .link_block .single_area:nth-child(odd)::after {
  top: 50%;
}
.works .link_block .single_area:nth-child(even) .work_image {
  margin: 60% 0 0;
}
.works .link_block .single_area:nth-child(even)::after {
  top: 0%;
}
.skill .icon_area_block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  display: table;
  table-layout: fixed;
}
.skill .icon_area_block .icon_area {
  text-align: center;
  display: table-cell;
}
.skill .icon_area_circule {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #000;
  border-radius: 50%;
}
