<footer>
	<nav>
		<ul>
			<li><a href="">HOME</a></li>
			<li><a href="">Service</a></li>
			<li><a href="">Works</a></li>
			<li><a href="">Contact</a></li>
			<li><a href="">Employment</a></li>
		</ul>
	</nav>
</footer>
