<header class="header">
	<h1 class="header__logo"></h1>
	<nav class="header__gmenu">
		<ul>
			<li class="header__gmenu_list"><a href="">HOME</a></li>
			<li class="header__gmenu_list"><a href="">Service</a></li>
			<li class="header__gmenu_list"><a href="">Works</a></li>
			<li class="header__gmenu_list"><a href="">Contact</a></li>
			<li class="header__gmenu_list"><a href="">Employment</a></li>
		</ul>
	</nav>
</header>
