* {
    box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}
body{
	padding: 100px 0;
}

.block{
	height: 100px;
	background: #000;
}

.delay5_duration1{
	animation-name: sizeChange;
    animation-duration: 1s;
    animation-timing-function: liner;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

.delay1_duration5{
	animation-name: sizeChange;
    animation-duration: 5s;
    animation-timing-function: liner;
    animation-delay: 1s;
	animation-iteration-count: infinite;
}

@keyframes  sizeChange{
	0% {
		width: 10px;
	}
	100% {
		width: 100px;
	}
}

#animating{
	width: 10px;
}

.hovering{
	width: 10px;
	margin-left: 40px;
	transition-delay: 1s;
	transition-duration: 5s;
	transition-property: all;
	transition-timing-function: ease;
}

.hovering:hover{
	width: 100px;
	margin-left: 0;
}

.hovering2{
	width: 10px;
	margin-left: 40px;
	transition-delay: 5s;
	transition-duration: 1s;
	transition-property: all;
	transition-timing-function: ease;
}

.hovering2:hover{
	width: 100px;
	margin-left: 0;
}
