@charset 'UTF-8';

.flex-container{
  paddgin:10px 0;
  display:flex;
  border:1px solid #cc;
  background:#fff0e3;
}

.flex-item{
  margin-left:10px;
  padding:10px;
  border:1px solid #ccc;
  background: #fff;
}

.row{
  flex-direction:row;
}

.row-reverse{
  flex-direction:row-reverse;
}

.column{
  flex-direction:column;
}

.column-reverse{
  flex-direction:column-reverse;
}

.nowrap{
  flex-wrap:nowrap;
}

.wrap{
  flex-wrap:wrap;
}

.wrap-reverse{
  flex-wrap:wrap-reverse;
}

.flex-left{
  justify-content:flex-start;
}

.flex-right{
  justify-content:flex-end;
}

.flex-center{
  justify-content:center;
}

.flex-blance{
  justify-content:space-between;
}

.flex-blance2{
  justify-content:space-around;
}
