* {
    box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

.main_table{
	border-collapse: collapse;
	border:1px solid #000;
}

.main_table th,.main_table td{
	border:1px solid #000;
	border-bottom: 1px solid #000;
}
