* {
    box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

.main_table{
	border-collapse: collapse;
	border:1px solid #000;
}

.main_table th,.main_table td{
	border:1px solid #000;
	border-bottom: 1px solid #000;
}

/** 固定パターン サンプル２ **/
/* sticky table */
.sticky_table {
  table {
	display: block;
    width: 500px;
    height: 100%;
    thead, tbody {
      display: block;
  	}
	thead {
      position: sticky;
  	}
  	tbody{
      height: 300px;
	  overflow-y: scroll;
	}
	tr{
	  display: flex;
	  border-left:1px solid #e67e22;
	}
    th, td {
      display: block;
	  width: 25%;
      background: #fff;
	  border-right:1px solid #e67e22;
      font-size: 1.0rem;
    }
	th{
	  border-top: 1px solid #e67e22;
  	  border-bottom: 2px solid #e67e22;
	}
	td{
      border-bottom: 1px solid #e67e22;
	}
  }
}

.td3{
	width: 25%;
}

.td6{
	width: 50%;
}

.table{
	max-width: 100%;
	margin-bottom: 20px;
}
.table-fixed{
  width: 500px;
  background-color: #f3f3f3;
  tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
  }
  thead,tbody,tr,td,th{
    display:block;
  }
  tbody{
    td{
      float:left;
    }
  }
  thead {
    tr{
      th{
        float:left;
       background-color: #f39c12;
       border-color:#e67e22;
      }
    }
  }
}
