header {
  width: 200px;
  background-color: #157;
}
footer {
  width: 300px;
  background: #EDF7FF;
}
#side_bar {
  width: 130px;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome/fonts/fontawesome-webfont.eot');
  src: url('font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('font-awesome/fonts/fontawesome-webfont.woff') format('woff'), url('font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'), url('font-awesome/fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
}
.btn {
  appearance: none;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #000;
  margin: 0;
  padding: 0.3em 1em;
  text-align: center;
  line-height: 1;
  background: #eee;
  font-style: inherit;
  color: inherit;
}
.btn--short {
  width: 200px;
}
.btn--middle {
  width: 480px;
}
.btn--full {
  width: 100%;
}
/*
icon画像
主なcssで定義して、あとは細かいpositionずらし
*/
.ui-icon {
  display: inline-block;
  background-image: url(sample.png);
}
.ui-icon-edit {
  width: 16px;
  height: 16px;
  background-position: 0 20px;
}
.ui-icon-delete {
  width: 16px;
  height: 16px;
  background-position: 0 20px;
}
.nav-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('aaaa.png');
}
.nav-icon--home {
  background-position: 0 0;
}
.nav-icon--home {
  background-position: 0 -36px;
}
/* ここは構造だけ*/
.font-icon::before {
  line-height: 1;
  font-family: 'FontAwesome', sans-serif;
  font-style: normal;
  font-weight: normal;
}
.font-icon--home::before {
  content: "\f015";
}
.font-icon--with--text {
  margin-right: 3px;
}
.font-icon.with--text {
  margin-right: 3px;
}
.heading {
  border: 1px solid #000;
  margin-bottom: 0.5em;
  line-height: 1px;
  padding: 0 0.6em;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.heading__link {
  position: absolute;
  top: 19px;
  right: 1em;
  font-size: 16px;
  font-weight: normal;
}
.media {
  overflow: hidden;
}
.media__image {
  float: left;
  margin-right: 10px;
}
.media2 {
  display: table;
}
.media__image2 > img {
  display: block;
}
.media__image2 {
  display: table-cell;
  vertical-align: top;
}
.media__body2 {
  display: table-cell;
  vertical-align: middle;
}
.nav {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.nav__item {
  display: table-cell;
}
.nav__item a {
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  background: #49e;
}
.tableview {
  overflow: hidden;
  border: 1px solid #999;
  border-radius: 8px;
  background-color: #DDD;
  position: absolute;
}
.tableview__item {
  list-style-type: none;
  height: 20px;
  border-top: 1px solid #EEE;
}
.tableview__target {
  position: relative;
}
.tableview__target-icon {
  position: absolute;
}
/**ワンポイント下矢印**/
.arrow3 {
  position: relative;
  background: #666;
  font-size: 2rem;
  width: 200px;
}
.arrow3 a {
  display: block;
  text-align: center;
  padding: 3%;
}
.arrow3::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 46%;
  display: block;
  border-top: 10px solid #666;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.nav2 {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.nav__item2 {
  display: table-cell;
}
.nav__item2:not(last-child) {
  border-left: 1px solid #ccc;
}
.nav__item2 a {
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
}
.active {
  background: #740804;
  position: relative;
}
.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 46%;
  display: block;
  border-top: 10px solid #740804;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.no_active {
  background: #083D17;
}
#contents {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}
