
.EntryPanel{
	@include flex;
	align-items: center;
	&__sub{
		flex:1 1 45%;
		flex-direction: column;
		justify-content: space-between;
		align-self: stretch;
		margin-right: 20px;
	}

	&__thumb{
		width: 100%;
		height: auto;
	}

	&__main{
		@include flex;
		flex:1 1 55%;
		justify-content: space-between;
		align-self: stretch;
		flex-direction: column;
		padding: 20px 0;
	}

	&__head {
		font-weight: bold;
		font-size: 16px;
	}
	&__body{
		margin-top: 10px;
		font-size: 14px;
	}

	&__footer{
		text-align: right;
		a{
			padding: 10px;
			display: inline-block;
			background: #000;
			color:#ccc;
			margin-top: 10px;
			&:link,{
				color:#fff;
			}
		}
	}
}
