
.Item_block{
	@include flex;
	flex-wrap: nowrap;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}

.EntryPanel{
	@include flex;
	align-items: center;
	&__sub{
		flex:1 1 45%;
	}

	&__main{
		flex:1 1 55%;
	}


	&__footer{
		a{
			padding: 10px;
			display: inline-block;
			background: #000;
			color:#ccc;
			margin-top: 10px;
			&:link,{
				color:#fff;
			}
		}
		text-align: right;
	}
}
