html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.Header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  height: 98px;
  align-items: center;
}

.Header__head {
  background: #fff;
  flex: 1 1 auto;
}

.Header__head h1 {
  text-align: center;
}

.Header__body {
  flex: 3 1 auto;
}

.Header__body .Menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}

.Header__body .Menu__item {
  display: block;
  text-align: center;
  padding: 10px 15px;
}

.Item_block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

.EntryPanel {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.EntryPanel__main {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-content: space-around;
}
