.Header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 98px;
}

.Header__head {
  flex: 1 1 auto;
  text-align: center;
}

.Header__body {
  flex: 3 1 auto;
}

.Menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
}

.Menu__item {
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
}

.EntryPanel {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.EntryPanel__main {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}

.EntryPanel__head {
  font-weight: bold;
  font-size: 16px;
}
