.heading{
	width: 100%;
	height: 41px;
	padding: 10px 5px 10px 20px;
	font-size:16px;
	color: #333;
	line-height:1.2;
	box-sizing:border-box;
	box-shadow:0 1px 3px #ccc;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-image: linear-gradient(to bottom, #fff 0, #f6f6f6 50%, #ededed 100%);
}

.heading span{
	position:relative;
}


.heading span::before{
	width:5px;
	height:100%;
	position: absolute;
	top: 0;
	left: -10px;
	border-left: 3px solid #c00;
	content: '';
}

.box{
	padding: 10px;
	background: #eee;
}

.list{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
	line-height:1.2;
}

.list li:last-child{
    margin-bottom:0;
}

.list a{
	color: #333;
}


.box button.btn{
	padding: 10px;
	font-size: 16px;
	color: #fff;
	display: inline-block;
	box-shadow: inset 0 1px 0 0 #5bb2de;
	border: 1px solid #25729a;
	border-radius: 4px;
	text-decoration: none;
	background: linear-gradient(to bottom , #3093c7 5%, #1c5a85 100%);
}

.box button.btn:hover,
.box button.btn:focus,
.box button.btn:active{
	cursor:pointer;
	box-shadow: inset 0 0 1px 0 #3a7ea0;
	background: linear-gradient(to bottom , #1c5a85 5%, #3093c7 100%);
}

.btn{
	padding: 10px;
	font-size: 16px;
	color: #fff;
	display: inline-block;
	box-shadow: inset 0 1px 0 0 #5bb2de;
	border: 1px solid #25729a;
	border-radius: 4px;
	text-decoration: none;
	background: linear-gradient(to bottom , #3093c7 5%, #1c5a85 100%);
}

.btn:hover,
.btn:focus,
.btn:active{
	cursor:pointer;
	box-shadow: inset 0 0 1px 0 #3a7ea0;
	background: linear-gradient(to bottom , #1c5a85 5%, #3093c7 100%);
}


.box2{
	max-width:600px;
	min-height:300px;
	display:flex;
	align-items:center;
	justify-content:center;
	box-sizing:border-box;
	border:1px solid #999;
	background: #eee;
}

.box2 img{
	vertical-align:center;
	max-width:100%;
}

.link-pdf{
	font-size:18px;
	color: #333;
}

.link-pdf::after{
	width:20px;
	height:24px;
	margin:0 0 0 4px;
	display:inline-block;
    vertical-align:middle;
    background:url(icon-pdf.png);
    background-size:20px auto;
    content:"";
}

/* 通常のinputをキャンセルする */
input[type=checkbox]{
	display: none;
}

/*この要素は単なるinputとlabel_css*/
.label_css{
	/* relativeがないとbefore afterが取れない*/
	position: relative;
	/* inline-blockにしなくてもいいがその場合margin,paddingに制限がかかる*/
	display: inline-block;
	padding: 0 0 0 42px;
}

/** 自力で作ったcheckboxの箱**/
.label_css::after{
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  content: '';
}

/*
自力で作ったcheckboxのチェックマーク
通常のブロックの左と下だけに色をつけて
傾ける。傾きはtransformで実装
checkされていないときは目に見えないわけだから
opacity 0
*/
.label_css::before{
  position: absolute;
  top: 50%;
  left: 21px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 3px solid #0171bd;
  border-bottom: 3px solid #0171bd;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*
checkされたときは外観のpropertyはすべて一緒で
目に見えるだけにするのでopacity1にする
*/
input[type=checkbox]:checked + .label_css:before{
  opacity: 1;
}

/*
rightととleftを0にすることでwidth100%を表記できる
*/

.article_title{
	position: relative;
}

.article_title::before, .article_title::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #000;
}

.article_title::after{
    bottom:5px;
}

.sample01{
	width: 100px;
}

.linline01{
	display: inline-block;
	width: 20%;
	vertical-align: top;
}
.linline02{
	display: inline-block;
	white-space: pre-line;
	overflow: hidden;
	vertical-align: top;
	width: 70%;
}
