@for $i from 1 through 9 {
  $label_w:$i*25;
  .label-w#{$label_w} {
    display: inline-block;
    width: #{$label_w}px;
  }
}

//margin,paddingの上右下左
$direction: t,r,b,l;
$d2:'';
@each $d in $direction {
  @if $d == 't' {
    $d2:'top';
  } @elseif $d =='r' {
    $d2:'right';
  } @elseif $d =='b' {
    $d2:'bottom';
  } @elseif $d =='l' {
    $d2:'left';
  }
  @for $i from 1 through 5 {
    $size:$i*5;
    .m#{$d}#{$size} {
      margin-#{$d2}:#{$size}px !important;
    }
    .p#{$d}#{$i} {
      padding-#{$d2}:#{$size}px !important;
    }
  }
}

//flexのパターン
$jusity_content: fs,fe,c,sp,sa;
$align-items: fs,fe,c;
$jc2:'flex-start';
$ai2:'flex-end';
@each $jc in $jusity_content {
  @if $jc == 'fs' {
    $jc2:'flex-start';
  } @elseif $jc =='fe' {
    $jc2:'flex-end';
  } @elseif $jc =='c' {
    $jc2:'center';
  } @elseif $jc =='sp' {
    $jc2:'space-between';
  } @elseif $jc =='sa' {
    $jc2: 'space-around';
  }

  @each $ai in $align-items {
    @if $ai == 'fs' {
      $ai2:'flex-start';
    } @elseif $ai =='fe' {
      $ai2:'flex-end';
    } @elseif $ai =='c' {
      $ai2:'center';
    }

    .flex_#{$jc}_#{$ai}{
      display: flex;
      justify-content: #{$jc2};
      align-items: #{$ai2};
    }
  }
}

//センタリング
.centering {
  margin-right:auto;
  margin-left:auto;
}

.cols{
  @extend .columns;
  @extend .is-paddingless;
  @extend .is-marginless;
}

.col{
  @extend .column;
  @extend .is-paddingless;
  @extend .is-marginless;
}

//%幅を持ったカラム
@for $i from 1 through 12 {
  .col_w#{$i} {
    @extend .column;
    @extend .is-paddingless;
    @extend .is-#{$i};

  }

  .col_w#{$i}_p {
    @extend .column;
    @extend .is-#{$i};
  }
  //inputなどでもきくwidhの設定
  //%幅を持ったカラム
  $width_pecent:(100/12)*$i;
  .w#{$i} {
     width:#{$width_pecent}% !important;
  }
}


@for $i from 1 through 40 {
  $width_size:$i*5;
  .w#{$width_size}px {
     width:#{$width_size}px !important;
  }
}


//form系
.input_auto{
  @extend .input;
  width: auto;
}


//table系
.table_no_p{
  @extend .table;
  th, td{
    padding:0;
  }
}


//tableの全パターン
$vertical: t,m,b;
$textaling: r,c,l;
$v2:'top';
$t2:'right';
@each $v in $vertical {
  @if $v == 't' {
    $v2:'top';
  } @elseif $v =='m' {
    $v2:'middle';
  } @elseif $v =='b' {
    $v2:'bottom';
  }
  @each $t in $textaling {
    @if $t == 'r' {
      $t2:'right';
    } @elseif $t =='c' {
      $t2:'center';
    } @elseif $t =='l' {
      $t2:'left';
    }

    .table {
      .td_#{$v}_#{$t}{
        vertical-align: #{$v2};
        text-align: #{$t2};
      }
    }
  }
}

//inlineのセンタリング
.ic{
  vertical-align: middle !important;
}
